*{
    margin:0;
    padding:0;
}

body{
    text-align:center;
    
    height: 100vh;
    background-color: #080357;
}
.header{
    height:10vh;
    width:100%;
    margin-top:10px;
    color:white;
    text-shadow: 0 0 5px rgb(0,0,0,0.8);
}
.box{
    height: 150px;
    width: 150px;
    border: 2px solid #000000;
    background-color: lightblue;
    border-radius:4%;
    font-size: 50px;
    font-weight: bold;
    color:#FFC15E;
}
 .gameBackground{
    width:600px;
    height:700px;
    background-color:#FFC15E;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    border-radius:3%;
     box-shadow: 0 0 10px rgb(250, 249, 249);
     margin-left:430px;
 }
 .gameBox{
    height: 500px;
    width: 500px;
    background-color:#D6FFB7 ;
     box-shadow: 0 0 10px rgba(0, 0, 0, 1);
     border-radius:2%;
    margin-bottom:20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap:5px;
    }
    .rst{
        height:50px;
        width:100px;
        margin-bottom:20px;
        border-radius:10%;
        font-size:20px;
        font-weight:bold;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        
    }

    .msg{
        font-size:80px;
        font-weight:bold;
        color:#e7e6fd;
        margin-bottom:10px;
        height:100vh;
        width:100vw;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
    }
    .hide{
        display:none;
    }
    .nw{
        height:100px;
        width:150px;
        font-size:30px;
        font-weight:bold;
        border-radius:20%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        margin-left:20px;
        margin-top: 120px;
        background-color: #D6FFB7;
        color:#080357
    }